.menu {
    background: #333;
}
.menu ul {
    background: #333;
    list-style: none;
    display: inline-block;
}
.menu ul li {
    float: left;
    color: #fff;
    padding: 10px;
}

.menu ul li a {
    color: #fff;
}