.product-list {
    width: 50%;
    margin: 0 auto;
}
.product {
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.product img {
    border-radius: 10px;
    width: 100%;
}